/* Dark Blue Calendar */
.react-calendar {
  width: 99%;
  max-width: 100%;
  background: #172554;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 5px;
  color: white;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.react-calendar__month-view {
  padding: 10px;
}

.react-calendar__month-view__days {
  color: white;
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.react-calendar__tile {
  border-radius: 10px;
  transition: all 0.3s;
  color: white;
  margin: 5px;
  padding: 14px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

.react-calendar__tile--now {
  background: blue !important;
  color: white !important;
  font-weight: bold;
  border-radius: 10px;
}

.react-calendar__tile--active {
  background: rgb(0, 123, 255) !important;
  color: white !important;
  font-weight: bold;
  border-radius: 10px;
}

.react-calendar__month-view__weekdays {
  color: white;
  font-weight: bold;
  padding-bottom: 10px;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .react-calendar {
    padding: 15px;
  }

  .react-calendar__tile {
    font-size: 14px;
    padding: 12px;
  }

  .react-calendar__month-view__days {
    gap: 6px;
  }
}

@media (max-width: 480px) {
  .react-calendar {
    padding: 10px;
  }

  .react-calendar__tile {
    font-size: 12px;
    padding: 10px;
  }

  .react-calendar__month-view__days {
    gap: 4px;
  }

  .react-calendar__month-view__weekdays {
    font-size: 10px;
  }
}
