@tailwind base;

@tailwind components;

@tailwind utilities;

.light {
  background-color: white;
  color: black;
}
.dark {
  /* background-color: rgb(44, 43, 43); */
  background: linear-gradient(135deg, #081018 0%, #031516 100%);
  color: white;
}
* {
  scroll-behavior: smooth;
  /* transition: all 0.6s; */
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-horizontal {
  height: 8px;
}

::-webkit-scrollbar-vertical {
  width: 7px;
}
/* Global CSS or your component's CSS file */
input::placeholder {
  color: white;
}

input::-webkit-input-placeholder {
  /* Chrome, Safari, Opera */
  color: white;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

input:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}

input:-moz-placeholder {
  /* Firefox 4-18 */
  color: white;
}
